.main-box{
    height: 50px;
    width: 100px;
    padding: 20px;
    border: 1px solid black;
    position: relative;
    animation: box_movement 8s infinite ease-in-out;;
}

@keyframes box_movement{
    0% {
        left: 0%;
        background-color: blueviolet;
        font-family: fantasy;
        font-weight: 500;
        color: black;
    }

    50% {
        left: 50%;
        height: 80px;
        width: 130px;
        background-color:cadetblue;
        font-family: fantasy;
        color: black;
    }

    100%{
        left: 100%;
        background-color:cornflowerblue;
        font-family: fantasy;
        color: black;
    }
}